@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Colors */
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --v-dark-blue: hsl(229, 23%, 23%);
  --dark-grey-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-grey: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

body {
  background-color: var(--dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
