@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  /* Colors */
  /* Primary */
  --dark-cyan: hsl(185, 75%, 39%);
  --v-dark-blue: hsl(229, 23%, 23%);
  --dark-grey-blue: hsl(227, 10%, 46%);
  /* Neutral */
  --dark-grey: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

body {
  background-color: var(--dark-cyan);
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: var(--v-dark-blue);
}

main {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

/* card */

.card {
  border-radius: 10px;
}

.card-top-img-container {
}

.card-top-img {
  display: block;
  border-radius: 10px 10px 0 0;
}

.card-bottom-container {
  background-color: #fff;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 2rem;
  height: 100%;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.profile-img {
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  left: 35%;
  top: -10%;
}

.profile-head {
  grid-column: 1/4;
  text-align: center;
}

h1,
h2,
h3 {
  font-size: 0.65em;
  text-align: center;
}

p {
  font-size: 0.5em;
  text-align: center;
}

/*  background SVG's */

.bg-top {
  position: absolute;
  left: -489px;
  top: -489px;
}

.bg-bottom {
  position: absolute;
  right: -489px;
  bottom: -489px;
}

/* footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
